---
const { imgSrc, altText, title, desc, bgColor, textColor, descColor } =
  Astro.props;
---

<div data-aos="fade-up" class="flex flex-col items-center text-left">
  <img
    src={imgSrc}
    alt={altText}
    class="w-10/12 md:w-full h-auto object-cover"
  />
  <div
    class={`${bgColor} py-[13px] px-[24px] ${descColor} w-10/12 md:w-full  border-[1px] border-t-0 border-black`}>
    <h2 class={`text-sm md:text-xl font-semibold ${textColor}`}>{title}</h2>
    <p class="text-[10px] md:text-sm">{desc}</p>
  </div>
</div>
