---
const { imgSrc, altText, title, desc, parentStyle, textStyle, imgStyle } =
  Astro.props;
---

<div class={parentStyle}>
  <div class={imgStyle}>
    <img
      src={imgSrc}
      alt={altText}
      class="h-[80px] md:h-[120px] w-[120px] m-2 drop-shadow-primary"
    />
    <h2 class="block md:hidden md:text-2xl font-semibold mb-3 text-primary">
      {title}
    </h2>
  </div>

  <div class={textStyle}>
    <h2 class="hidden md:block text-2xl font-semibold mb-3 text-primary">
      {title}
    </h2>
    <p class="text-justify">
      {desc}
    </p>
  </div>
</div>
