---
import Container from "@components/container.astro";
import Dropdown from "./dropdown.astro";
import DropdownMobile from "./dropdownmobile.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "Who we are",
    path: "/who-we-are",
  },
  {
    title: "What we do",
    path: "#",
    children: [
      { title: "Habitat Solutions", path: "/what-we-do/habitat-solutions" },
      {
        title: "Critical Structures",
        path: "/what-we-do/critical-structures",
      },
      {
        title: "Engineering Solutions",
        path: "/what-we-do/engineering-solutions",
      },
    ],
  },
];
const menuItemsMobile = [
  {
    title: "Careers",
    path: "/",
  },
  {
    title: "Resources",
    path: "/",
  },
  {
    title: "Privacy Policy",
    path: "/",
  },
  {
    title: "Terms of Service",
    path: "/",
  }

];
---

<!-- <div class=" h-full"> -->
  <header
    class="fixed top-0 left-0 w-full flex flex-col md:flex-row justify-between md:items-center mx-auto lg:px-20 py-4 md:py-6 bg-white z-50 md:px-5 md:border-0 border-b-4 border-primary">
    <Astronav>
      <div class="flex w-full md:w-auto items-center justify-between px-4 ">
        <a href="/" class="text-lg">
          <img src="/assets/logo-black.png" class="w-16 lg:w-20" />
        </a>
        <div class="block md:hidden">
          <MenuIcon class="w-6 h-6 text-gray-800" />
        </div>
      </div>
      <div class="flex items-center">
        <MenuItems class="hidden w-full md:w-auto mt-5 md:flex md:mt-0 text-sm border-t-4 border-primary md:border-t-0 h-svh md:h-auto md:mr-3">
          <ul class="flex flex-col md:flex-row md:gap-3 pl-10">
            {
              menuitems.map((item, index) => (
                <>
                  {item.children && (
                    <div class="hidden md:block">
                      <Dropdown
                        title={item.title}
                        children={item.children}
                        lastItem={index === menuitems.length - 1}
                      />
                    </div>
                    <div class="block md:hidden mt-6">
                      <DropdownMobile
                        title={item.title}
                        children={item.children}
                        lastItem={index === menuitems.length - 1}
                      />
                    </div>
                  )}

                  {/* For new update NEW mark */}
                  {!item.children && (
                    <li>
                      <a
                        href={item.path}
                        class="flex md:pr-3 border-r-1 items-center text-background text-sm leading-6 border-r-[1px] border-blue-900 hover:text-primary">
                        <span class="text-xl md:text-sm my-0 md:my-1 mt-6 font-medium  md:mt-1 "> {item.title}</span>
                      </a>
                    </li>
                  )}
                </>
              ))
            }

            <div class="md:hidden flex items-center gap-4">
              <a
                href="/contact"
                class="flex lg:px-3 items-center text-black hover:text-blue-500">
                <span class="text-xl mt-2 font-medium"> Contact Us</span>
              </a>
            </div>

            <div class="block md:hidden mt-6">{
              menuItemsMobile.map((item, index) => (
                <>
                    <li>
                      <a
                        href={item.path}
                        class="flex lg:px-3 items-center  py-1 text-background font-light text-sm leading-8 hover:text-blue-500">
                        <span class=""> {item.title}</span>
                      </a>
                    </li>
                </>
              ))
            }</div>
          </ul>

          
        </MenuItems>
        <div class="hidden md:flex items-center gap-4">
          <a
          href="/contact"
          class="text-white text-md md:text-base font-medium px-3 md:px-8 py-1 md:py-[8px] border-2 border-secondary bg-secondary inline-block transition duration-300 ease-in-out hover:bg-primary hover:border-primary cursor-pointer font-condensed">
          CONTACT US
        </a>
        </div>
      </div>
    </Astronav>
  </header>
<!-- </div> -->
